input{
    background-image: url(https://img.megabox.co.kr/SharedImg/2023/02/06/7gFJhWRalgHSihiVTu9oOoKRXxMH5mKe_420.jpg);
    background-size: cover;
    background-position: center;
    font-size: 30px;
}